*.nc
*.nc
*.pyc
*__pycache__/
*.ini
*.DS_Store
*.gitingore
*.sp3.gzexternal/
external/
!external/jb08_inputs/
!external/jb08_inputs/*
*.log
source/tools/tle_archive/tle_data_2024-05-01_to_2024-05-30.tle
